.unselectedTag {
    background-color: #ff0000;
}

.selectedTag {
    background-color: #00ff00;
}

.chosenTag {
    background-color: #0000ff;
}

.tagDisplayBox {
    display: flex;
    justify-content: flex-start;
}